.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: var(--main-min-height);
  background-image: url("../../../assets/imgs/Logotype\ -\ Shadow.svg");
  background-position: center;
  background-repeat: no-repeat;
}
