<header>
  <div class="container header-container">
    <a href="" class="header-logo">
      <img src="../../assets/imgs/Logotype.svg" alt="Logo Buscador Git." />
    </a>

    <app-search></app-search>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  Desenvolvido por João Vitor Loureiro -

  <a href="mailto:loureiro.jvitor@gmail.com">
    <img
      class="ms-2"
      width="24"
      height="24"
      src="../../assets/icons/icon-email.png"
      alt="Contato via e-mail."
    />
  </a>

  <a href="https://www.linkedin.com/in/joao-vitor-loureiro/" target="_blank">
    <img
      class="ms-2"
      width="24"
      height="24"
      src="../../assets/icons/icon-linkedin.png"
      alt="Contato via Linkedin."
    />
  </a>
</footer>

<ngx-spinner size="medium" color="#fff" type="ball-clip-rotate"> </ngx-spinner>
