header {
  width: 100%;
  height: var(--header-height);
  padding: 1rem 0;
  background-color: var(--color-white);
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0px 0px 6px rgba(47, 37, 68, 0.25);

  .header-container {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;

    img {
      height: 2rem;
      width: auto;
    }

    app-search {
      flex: 1;
    }
  }
}

main {
  min-height: calc(100% - var(--footer-height) - var(--header-height));
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-white);
  height: var(--footer-height);
  font-size: 0.875rem;
  border-top: 1px solid var(--color-gray);
}

@media (max-width: 768px) {
  header .header-container {
    gap: 1rem;
  }
}
