a,
button {
  text-decoration: none;
  border: 1px solid var(--color-primary);
  padding: 0.5rem 0.875rem;
  line-height: 120%;
  font-size: 0.875rem;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  text-align: center;
  border-radius: 0.25rem;
  font-weight: 500;
  box-sizing: border-box;
  letter-spacing: none;
  transition: opacity 0.5s ease-in-out;

  &.w-100 {
    width: 100%;
  }

  &:hover {
    opacity: 0.75;
  }

  &.outline {
    background-color: var(--color-white);
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}
