/* You can add global styles to this file, and also import other style files */
@import "./assets/css/reset.scss";
@import "./assets/css/modal.scss";

:root {
  --color-primary: #8c56c2;
  --color-text-white: #ffff;
  --color-white: #ffff;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
