.page-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.img-container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("../../../assets/imgs/Background.svg");
  background-size: cover;
  z-index: -1;
  position: fixed;
  opacity: 0.1;
}

section {
  padding: 50px 0;
  height: 100%;

  .line {
    width: 100%;
    border-top: 1px solid #e1dfe0;
  }

  h1 {
    font-weight: 500;
    font-size: 18px;
    color: #4f6c7c;
    margin-bottom: 0.625rem;
  }

  .row {
    padding-top: 1.25rem;
    align-items: stretch;
    height: auto;

    .col-12,
    .col-xl-2,
    .col-lg-3,
    .col-md-4,
    .col-sm-6,
    .col-12 {
      margin-bottom: 1.25rem;
    }
  }
}

mat-paginator {
  background-color: transparent;
  color: #4f6c7c;
}

.paginator-container {
  position: relative;
  padding-bottom: 1rem;
  margin-top: 0.5rem;

  .paginator-background {
    width: 100%;
    height: calc(100% - 1rem);
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.1;
  }
}
